#include "~/resources/base16-default-dark.xresources"
URxvt*scrollBar:  false
URxvt*termName:   screen-256color
URxvt*font:       xft:Monospace:pixelsize=12
URxvt*boldFont:   xft:Monospace:pixelsize=12
URxvt*internalBorder: 10
!URxvt*transparent: true
!URxvt*shading:   10
