#include "/home/joe/git/base16-xresources/Xresources/base16-default-dark.xresources"
URxvt*scrollBar:  false
URxvt*termName:   screen-256color
URxvt*font:       xft:Monospace:pixelsize=12
URxvt*boldFont:   xft:Monospace:pixelsize=12
!URxvt*transparent: true
!URxvt*shading:   10
